<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input type="text" name="name" required id="name" [(ngModel)]="register.name" />
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input type="email" name="email" required id="email" [(ngModel)]="register.email" />
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input type="password" name="password" required id="password" [(ngModel)]="register.password" />
    <p>Mensajes de error</p>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Registrar</button>
  <button type="button">Accion</button>
</form>
<hr />


<h1>Ng Class & Ng Style</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name" />
<hr class="line-error"
  [ngClass]="{
    'valid': nameInput4.valid,
    'invalid': nameInput4.invalid
  }"
/>
<p class="message-error" [class.invalid]="nameInput4.invalid">
  El campo es requerido
</p>

<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width" />
    <input type="number" [(ngModel)]="box.height" />
    <input type="color" [(ngModel)]="box.background" />
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      'display': 'block'
    }"></div>
  </div>
</div>

<hr/>


<h1>Class and Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" />
<p class="message-error" [class.invalid]="nameInput2.invalid">El campo es requerido</p>
<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" />
<p [style.color]="nameInput3.invalid ? 'red' : 'white'">
  El campo es requerido
</p>

<hr/>



<h1>*ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name"/>
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Nicolas'">
    Hola Nicolas
  </p>
  <p *ngSwitchCase="'Ivan'">
    Hola Ivan
  </p>
  <p *ngSwitchCase="'Arturo'">
    Hola Arturo
  </p>
  <p *ngSwitchDefault>
    No hay coincidencia
  </p>

</div>


<hr/>
<h1>*ngFor Array</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img width="250" [src]="product.image" alt="image">
    <h2>{{product.price}}</h2>
    <p>{{product.name}}</p>
  </div>
</div>
<h1>*ngFor Object</h1>
<div>
  <div *ngFor="let item of person | keyvalue">
    {{item.key}}:{{item.value}}
  </div>
</div>

<hr/>
<h1>*ng For</h1>
<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Add Name</button>
<ul>
  <li *ngFor="let name of names; index as i">
    {{i}} {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<p *ngIf="names.length === 0">No hay nombres</p>


<hr/>
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name">
<p *ngIf="person.name == 'liz';then thenMyBlock else otherElseMyBlock"> Hola soy alexis</p>
<ng-template #thenMyBlock>
  <p>Hola liz</p>
</ng-template>
<ng-template #otherElseMyBlock>
  <p>Ingresa la palabra liz</p>
</ng-template>


<hr/>
<h1>NGModel</h1>
<p>Nombre {{person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"/>
<p>Valid: {{nameInput.valid}}</p>
<p>Age {{person.age}}</p>
<input type="number" max="23" min="5" required #ageInput="ngModel" [(ngModel)]="person.age"/>
<p>Valid: {{ageInput.valid}}</p>


<hr/>
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toogleButton()">Toogle Button</button>
<p>Edad {{person.age}}</p>
<button (click)="increaseAge()">Age ++</button>

<div class="box" (scroll)="onScroll($event)">
  <p>Loren insdsamsaasdsss
    ssssssssssssssssssssssssss
    ssssssssssssdi
    isadsdaioasdiosdsdoa adss
    da
    sdasdsadsad
    sadsaddsaadsads
    dsaadsadssda
    sadsd
    asd
    dsa
    ds
    dsa
    das
    ads
    das
    ads
    ads
    das
</p>
</div>

<input type="text" [value]="person.name" (keyup)="change($event)" />
<p>{{person.name}}</p>
<hr/>
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>

<hr/>
<h1>Hola mundo</h1>
<h2>{{'Hola mundo a todos'.repeat(5)}}</h2>
<h3>{{message}}</h3>
<p>3+3 = {{3+3}}</p>
<img width="200" src={{img}} alt="imagen"/>

